.edit-medicine-container {
  min-height: 100vh;
  background: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-card {
  width: 450px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}